body {
  height: 1300px;
  text-align: justify;
}

/* Navbar */

.navbar-brand {
  font-size: 25px;
  color: white !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-item a {
  font-size: 20px;
  padding-left: 15px;
  color: white !important;
}

/* Header */

header {
  margin-top: 40px;
  background-image: url('medias/background.jfif');
}

header, h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
  font-size: 60px;
  padding: 200px;
}

header, button, a {
  color: white;
}

header, button, a:hover {
  color: white;
}

/* Media Queries */ 

@media screen and (max-width: 770px) {
  header {
    background-size: 100%;
  }
  header, h1 {
    font-size: 30px;
    padding: 50px;
  }
}